.error-container {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
  background-color: rgb(252, 218, 178);
  padding: 20px;
  border-radius: 10px;
}
.error-pic {
  height: 120px;
}
.error-message {
  color: #444;
  font-size: 20px;
  text-align: center;
  margin-right: 30px;
}
