.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  gap: 20px;
  color: white;
}

.prev-btn,
.next-btn {
  background-color: orange;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
  font-family: Inter, sans-serif;
  font-size: 20px;
}
.prev-btn:hover,
.next-btn:hover {
  background-color: chartreuse;
}
.prev-btn:disabled,
.next-btn:disabled {
  background-color: #fae5ca;
  cursor: not-allowed;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
