@import "mobile";

.form-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 90px;
  background-color: #222;

  @include mobile {
    flex-direction: column;
  }
  .header {
    color: #bbb;
    font-size: 30px;
    font-weight: bold;
    padding-right: 10px;
  }

  .search-form {
    display: flex;
    justify-content: center;
    // align-items: center;
    gap: 5px;
    @include mobile {
      flex-direction: column;
    }
    .form__title {
      padding: 8px;
      font-size: 25px;
      // margin-right: 10px;
      font-family: Inter;
      border-radius: 10px;
      background-color: #ddd;
      border: none;
      background-image: url("../../public/searchicon.svg");
      background-size: 30px;
      background-position: 10px 7px;
      background-repeat: no-repeat;

      padding-left: 50px;
      @include mobile {
        // width: 300px;
        height: 30px;
        margin-top: 5px;
        font-size: 16px;
        background-size: 25px;
        background-position: 8px 10px;
      }
      &:focus {
        outline: none;
        background-color: #fff;
      }
    }
    /* ////////// drop-down selector///////  */
    .type-year-wrapper {
      display: flex;
      gap: 5px;
      justify-content: space-between;
      width: 100%;
      border: none;

      @include mobile {
        gap: 0px;
      }
    }
    .form__type {
      // margin-right: 10px;
      .type-selector {
        border-radius: 10px;
        background-color: #ddd;
        padding: 11.6px;
        font-size: 20px;
        font-family: Inter;
        @include mobile {
          margin-top: 5px;
          font-size: 16px;
        }
        &:focus {
          outline: none;
          background-color: #fff;
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
        }
        // option:checked {
        //   background-color: #333;
        //   color: white;
        // }
        // option:hover {
        //   color: red;
        //   box-shadow: 0 0 10px 100px #aaa inset;
        // }

        .type-option {
          font-size: 20px;
          padding: 10px;
          @include mobile {
            font-size: 16px;
          }
        }
      }
    }
    /* /////////////// year ////////////// */
    .form__year {
      width: 100px;
      padding: 8px;
      font-size: 25px;
      // margin-right: 10px;
      border-radius: 10px;
      background-color: #ddd;
      font-family: Inter;
      border: none;

      @include mobile {
        margin-top: 5px;
        font-size: 16px;
        width: 150px;
      }

      &:focus {
        outline: none;
        background-color: #fff;
      }
    }
    .form__searchbtn {
      /* margin: 30px 0; */
      background-color: #555;
      border: none;
      color: beige;
      padding: 14px;
      padding-left: 30px;
      padding-right: 30px;
      border-radius: 10px;
      cursor: pointer;
      font-family: Inter;
      font-size: 20px;
      @include mobile {
        width: 200px;
        margin-top: 5px;
        font-size: 16px;
        width: 300px;
      }
    }
    .form__searchbtn:hover {
      background-color: #444;
    }
  }
}
