.form-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 90px;
  background-color: #222;

  .header {
    color: #bbb;
    font-size: 30px;
    font-weight: bold;
  }

  .search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    /* ////////// title ////////////////////  */

    .form__title {
      padding: 8px;
      font-size: 25px;
      margin-right: 10px;
      font-family: Inter;
      border-radius: 10px;
      background-color: #ddd;

      &:focus {
        outline: none;
        background-color: #fff;
      }
      background-image: url("../../public/searchicon.svg");
      background-size: 30px;
      background-position: 10px 7px;
      background-repeat: no-repeat;
      padding-left: 50px;
    }
    /* ////////// drop-down selector///////  */
    .form__type {
      margin-right: 10px;
      .type-selector {
        border-radius: 10px;
        background-color: #ddd;
        padding: 11.6px;
        font-size: 20px;
        font-family: Inter;
        &:focus {
          outline: none;
          background-color: #fff;
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
        }
        // option:checked {
        //   background-color: #333;
        //   color: white;
        // }
        // option:hover {
        //   color: red;
        //   box-shadow: 0 0 10px 100px #aaa inset;
        // }

        .type-option {
          font-size: 20px;
          padding: 10px;
        }
      }
    }
    /* /////////////// year ////////////// */
    .form__year {
      width: 100px;
      padding: 8px;
      font-size: 25px;
      margin-right: 10px;
      border-radius: 10px;
      background-color: #ddd;

      &:focus {
        outline: none;
        background-color: #fff;
      }
      font-family: Inter;
    }
    .form__searchbtn {
      /* margin: 30px 0; */
      background-color: #555;
      border: none;
      color: beige;
      padding: 14px;
      padding-left: 30px;
      padding-right: 30px;
      border-radius: 10px;
      cursor: pointer;
      font-family: Inter;
      font-size: 20px;
    }
    .form__searchbtn:hover {
      background-color: #444;
    }
  }
}
